# Italian vs. Mexican Food
---

The below script provides an analytic approach for assessing the American preference of Italian vs. Mexican food. Using data from the US Census and the Yelp API, the script randomly selects 350 zip codes and aggregates the review of the top 10 Italian and Mexican restaurants in each area. Summary data is then reported using Python Pandas.

In [27]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import requests
import time

# Yelp API Key
ykey_id = "Bqhtws5XxV3xtS8GitivdQ"
ykey_secret = "qPJJOG1TlG2jDnpBzn82ZjVz5D1KGt6ueMaDRg6nxca1u7NG5VVeGCZdovKI2Xtv"
ykey_access_token = "7RhzuoYA_92L1Tgpj1-bkx9RBfPJYfDTjxWYHR2Nf_wMDnkcQ6ONdQNLejkUu0tr1KEbqWeWmurIBmZXVlozloaPfHa-NcN1kQwoI6dKVyDsbigNCUs-gG77MYVpWXYx"

## Zip Code Sampling

In [28]:
# Import the census data into a Pandas DataFrame
census_pd = pd.read_csv("Census_Data.csv")

# Preview the data
census_pd.head()

,Zipcode,Address,Population,Median Age,Household Income,Per Capita Income
0,15081,"South Heights, PA 15081, USA",342,50.2,31500.0,22177
1,20615,"Broomes Island, MD 20615, USA",424,43.4,114375.0,43920
2,50201,"Nevada, IA 50201, USA",8139,40.4,56619.0,28908
3,84020,"Draper, UT 84020, USA",42751,30.4,89922.0,33164
4,39097,"Louise, MS 39097, USA",495,58.0,26838.0,17399

In [29]:
# Randomly select 500 zip code locations that have at least 1000 residents
selected_zips = census_pd.sample(n=500)
selected_zips = selected_zips[selected_zips["Population"].astype(int) > 1000]

# Visualize
selected_zips.head()

,Zipcode,Address,Population,Median Age,Household Income,Per Capita Income
493,54733,"Dallas, WI 54733, USA",1305,41.3,50809.0,23292
34,35956,"Boaz, AL 35956, USA",8716,40.0,46844.0,19615
591,6824,"Fairfield, CT 06824, USA",34864,38.5,128558.0,60182
440,21061,"Glen Burnie, MD 21061, USA",53491,36.0,60430.0,29841
547,68005,"Bellevue, NE 68005, USA",24163,34.2,53794.0,25101

In [30]:
# Show the total zip codes selected
selected_zips.count()

Zipcode              374
Address              374
Population           374
Median Age           374
Household Income     373
Per Capita Income    374
dtype: int64

In [31]:
# Show the average population
selected_zips["Population"].mean()

13528.088235294117

In [32]:
# Show the average population
selected_zips["Household Income"].mean()

57121.67292225201

In [36]:
# Show the average population
selected_zips["Median Age"].mean()

39.93850267379681

## Yelp Data Retrieval