# Italian vs. Mexican Food
---

The below script provides an analytic approach for assessing the American preference of Italian vs. Mexican food. Using data from the US Census and the Yelp API, the script randomly selects over 500 zip codes and aggregates the reviews of the 20 most popular Italian and Mexican restaurants in each area. Summary data is then reported using Python Pandas.

In [301]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import time
import json

# Yelp API Key
ykey_id = "1GwZyE0zIjSujpHtlMnodQ"
ykey_secret = "mcTmghB48JIH0xoNWLldvsX9uIiOLQfdi0gR8LWdFt02lboCAF9vxSSd1MI0KtZ0"
ykey_access_token = "gl6k6JmewUhzjMVBv0I2x4Bz_NRiEggSqjlGbTaejmbzvBJXgI36FPgWoqBnEL9QQ6wU5H4h41dxPkxVjHFlawtH69m1kcXQuHev5PuWBtcdBEAbdJR0HNl3d4tpWXYx"

## Zip Code Sampling

In [302]:
# Import the census data into a Pandas DataFrame
census_pd = pd.read_csv("Census_Data.csv")

# Preview the data
census_pd.head()

,Zipcode,Address,Population,Median Age,Household Income,Per Capita Income
0,15081,"South Heights, PA 15081, USA",342,50.2,31500.0,22177
1,20615,"Broomes Island, MD 20615, USA",424,43.4,114375.0,43920
2,50201,"Nevada, IA 50201, USA",8139,40.4,56619.0,28908
3,84020,"Draper, UT 84020, USA",42751,30.4,89922.0,33164
4,39097,"Louise, MS 39097, USA",495,58.0,26838.0,17399

In [303]:
# Sell all zip codes with a population over 1000 from a set of randomly selected list of 700 zip code locations 
selected_zips = census_pd.sample(n=700)
selected_zips = selected_zips[selected_zips["Population"].astype(int) > 1000]

# Visualize
selected_zips.head()

,Zipcode,Address,Population,Median Age,Household Income,Per Capita Income
85,44143,"Cleveland, OH 44143, USA",24044,48.5,60265.0,34714
184,5261,"Pownal, VT 05261, USA",2835,45.0,56667.0,25144
542,98101,"Seattle, WA 98101, USA",10643,43.0,42938.0,61716
151,2056,"Norfolk, MA 02056, USA",11274,42.5,134104.0,43630
384,60421,"Elwood, IL 60421, USA",3960,40.1,70485.0,30466

In [304]:
# Show the total number of zip codes that met our population cut-off
selected_zips.count()

Zipcode              11
Address              11
Population           11
Median Age           11
Household Income     11
Per Capita Income    11
dtype: int64

In [305]:
# Show the average population of our representive sample set
selected_zips["Population"].mean()

14104.727272727272

In [306]:
# Show the average population of our representive sample set
selected_zips["Household Income"].mean()

59226.545454545456

In [307]:
# Show the average population of our representive sample set
selected_zips["Median Age"].mean()

40.20909090909091

## Yelp Data Retrieval

In [308]:
# Create Two DataFrames to store the Italian and the Mexican Data 
italian_data = pd.DataFrame();
mexican_data = pd.DataFrame();

# Setup the DataFrames to have appropriate columns
italian_data["Zip Code"] = ""
italian_data["Italian Review Count"] = ""
italian_data["Italian Average Rating"] = ""
italian_data["Italian Weighted Rating"] = ""

mexican_data["Zip Code"] = ""
mexican_data["Mexican Review Count"] = ""
mexican_data["Mexican Average Rating"] = ""
mexican_data["Mexican Weighted Rating"] = ""

# Include Yelp Token
headers = {"Authorization": "Bearer gl6k6JmewUhzjMVBv0I2x4Bz_NRiEggSqjlGbTaejmbzvBJXgI36FPgWoqBnEL9QQ6wU5H4h41dxPkxVjHFlawtH69m1kcXQuHev5PuWBtcdBEAbdJR0HNl3d4tpWXYx"}
counter = 0

# Loop through every zip code
for index, row in selected_zips.iterrows():
    
    # Add to counter
    counter = counter + 1
    
    # Create two endpoint URLs:
    target_url_italian = "https://api.yelp.com/v3/businesses/search?term=Italian&location=%s" % (row["Zipcode"])
    target_url_mexican = "https://api.yelp.com/v3/businesses/search?term=Mexican&location=%s" % (row["Zipcode"])
    
    # Print the URLs to ensure logging
    print(counter)
    print(target_url_italian)
    print(target_url_mexican)
    
    # Get the Yelp Reviews
    yelp_reviews_italian = requests.get(target_url_italian, headers=headers).json()
    yelp_reviews_mexican = requests.get(target_url_mexican, headers=headers).json()
    
    # Calculate the total reviews and weighted rankings
    italian_review_count = 0
    italian_weighted_review = 0
    
    mexican_review_count = 0
    mexican_weighted_review = 0
    
    try:
        
        # Loop through all records to calculate the review count and weighted review value
        for business in yelp_reviews_italian["businesses"]:

            italian_review_count = italian_review_count + business["review_count"]
            italian_weighted_review = italian_weighted_review + business["review_count"] * business["rating"]

        for business in yelp_reviews_mexican["businesses"]:
            mexican_review_count = mexican_review_count + business["review_count"]
            mexican_weighted_review = mexican_weighted_review + business["review_count"] * business["rating"] 
        
        # Append the data to the appropriate column of the data frames
        italian_data.set_value(index, "Zip Code", row["Zipcode"])
        italian_data.set_value(index, "Italian Review Count", italian_review_count)
        italian_data.set_value(index, "Italian Average Rating", italian_weighted_review / italian_review_count)
        italian_data.set_value(index, "Italian Weighted Rating", italian_weighted_review)

        mexican_data.set_value(index, "Zip Code", row["Zipcode"])
        mexican_data.set_value(index, "Mexican Review Count", mexican_review_count)
        mexican_data.set_value(index, "Mexican Average Rating", mexican_weighted_review / mexican_review_count)
        mexican_data.set_value(index, "Mexican Weighted Rating", mexican_weighted_review)

    except:
        print("Uh oh")

1
https://api.yelp.com/v3/businesses/search?term=Italian&location=44143
https://api.yelp.com/v3/businesses/search?term=Mexican&location=44143
2
https://api.yelp.com/v3/businesses/search?term=Italian&location=5261
https://api.yelp.com/v3/businesses/search?term=Mexican&location=5261
3
https://api.yelp.com/v3/businesses/search?term=Italian&location=98101
https://api.yelp.com/v3/businesses/search?term=Mexican&location=98101
4
https://api.yelp.com/v3/businesses/search?term=Italian&location=2056
https://api.yelp.com/v3/businesses/search?term=Mexican&location=2056
5
https://api.yelp.com/v3/businesses/search?term=Italian&location=60421
https://api.yelp.com/v3/businesses/search?term=Mexican&location=60421
6
https://api.yelp.com/v3/businesses/search?term=Italian&location=27043
https://api.yelp.com/v3/businesses/search?term=Mexican&location=27043
7
https://api.yelp.com/v3/businesses/search?term=Italian&location=77807
https://api.yelp.com/v3/businesses/search?term=Mexican&location=77807
8
https://api.yelp.com/v3/businesses/search?term=Italian&location=54151
https://api.yelp.com/v3/businesses/search?term=Mexican&location=54151
9
https://api.yelp.com/v3/businesses/search?term=Italian&location=20886
https://api.yelp.com/v3/businesses/search?term=Mexican&location=20886
10
https://api.yelp.com/v3/businesses/search?term=Italian&location=2145
https://api.yelp.com/v3/businesses/search?term=Mexican&location=2145
11
https://api.yelp.com/v3/businesses/search?term=Italian&location=757
https://api.yelp.com/v3/businesses/search?term=Mexican&location=757

In [309]:
# Preview Italian Data
italian_data.head()

,Zip Code,Italian Review Count,Italian Average Rating,Italian Weighted Rating
85,44143,810,3.93395,3186.5
184,5261,541,3.98059,2153.5
542,98101,10835,4.14859,44950
151,2056,521,3.78215,1970.5
384,60421,751,3.65646,2746

In [310]:
# Preview Mexican Data
mexican_data.head()

,Zip Code,Mexican Review Count,Mexican Average Rating,Mexican Weighted Rating
85,44143,713,3.19705,2279.5
184,5261,277,3.90433,1081.5
542,98101,6040,3.96921,23974
151,2056,605,3.78264,2288.5
384,60421,705,3.9,2749.5

## Calculate Summaries

In [311]:
mexican_data["Mexican Review Count"].sum()

16656

In [312]:
italian_data["Italian Review Count"].sum()

24484

In [313]:
mexican_data["Mexican Weighted Rating"].sum() / mexican_data["Mexican Review Count"].sum()

3.931045869356388

In [314]:
italian_data["Italian Weighted Rating"].sum() / italian_data["Italian Review Count"].sum()

4.026057833687306

In [315]:
# Combine Data Frames into a single Data Frame
combined_data = pd.merge(mexican_data, italian_data, on="Zip Code")
combined_data

,Zip Code,Mexican Review Count,Mexican Average Rating,Mexican Weighted Rating,Italian Review Count,Italian Average Rating,Italian Weighted Rating
0,44143,713,3.19705,2279.5,810,3.93395,3186.5
1,5261,277,3.90433,1081.5,541,3.98059,2153.5
2,98101,6040,3.96921,23974,10835,4.14859,44950
3,2056,605,3.78264,2288.5,521,3.78215,1970.5
4,60421,705,3.9,2749.5,751,3.65646,2746
5,27043,570,4.25175,2423.5,932,3.91309,3647
6,77807,797,3.87453,3088,1348,3.70364,4992.5
7,54151,60,3.83333,230,173,3.59827,622.5
8,20886,1215,4.23621,5147,945,3.26561,3086
9,2145,5210,3.93196,20485.5,7613,4.09293,31159.5
10,757,464,3.72522,1728.5,15,4,60

In [316]:
# Total Rating and Popularity "Wins"
combined_data["Rating Wins"] = np.where(combined_data["Mexican Average Rating"] > combined_data["Italian Average Rating"], "Mexican", "Italian")
combined_data["Review Count Wins"] = np.where(combined_data["Mexican Review Count"] > combined_data["Italian Review Count"], "Mexican", "Italian")

In [317]:
# View Combined Data
combined_data.head()

,Zip Code,Mexican Review Count,Mexican Average Rating,Mexican Weighted Rating,Italian Review Count,Italian Average Rating,Italian Weighted Rating,Rating Wins,Review Count Wins
0,44143,713,3.19705,2279.5,810,3.93395,3186.5,Italian,Italian
1,5261,277,3.90433,1081.5,541,3.98059,2153.5,Italian,Italian
2,98101,6040,3.96921,23974,10835,4.14859,44950,Italian,Italian
3,2056,605,3.78264,2288.5,521,3.78215,1970.5,Mexican,Mexican
4,60421,705,3.9,2749.5,751,3.65646,2746,Mexican,Italian

In [318]:
# Tally number of cities where one type wins on ratings over the other
combined_data["Rating Wins"].value_counts()

Mexican    6
Italian    5
Name: Rating Wins, dtype: int64

In [319]:
# Tally number of cities where one type wins on review counts over the other
combined_data["Review Count Wins"].value_counts()

Italian    8
Mexican    3
Name: Review Count Wins, dtype: int64

## Display Summary of Results

In [320]:
# Model 1: Head-to-Head Review Counts
italian_summary = pd.DataFrame({"Review Counts": italian_data["Italian Review Count"].sum(),
                                "Rating Average": italian_data["Italian Average Rating"].mean(),
                                "Review Count Wins": combined_data["Review Count Wins"].value_counts()["Italian"],
                                "Rating Wins": combined_data["Rating Wins"].value_counts()["Italian"]}, index=["Italian"])

mexican_summary = pd.DataFrame({"Review Counts": mexican_data["Mexican Review Count"].sum(),
                                "Rating Average": mexican_data["Mexican Average Rating"].mean(),
                                "Review Count Wins": combined_data["Review Count Wins"].value_counts()["Mexican"],
                                "Rating Wins": combined_data["Rating Wins"].value_counts()["Mexican"]}, index=["Mexican"])

final_summary = pd.concat([mexican_summary, italian_summary])
final_summary

         Rating Average  Rating Wins  Review Count Wins  Review Counts
Mexican        3.873295            6                  3          16656
Italian        3.825025            5                  8          24484